body {

	font-family: sans-serif;
	color:D5D5D5;
	background-color: 232323;
	padding: 0;
	margin: 0;
	margin-right: 0;
	padding-right: 0;
	overflow-x:hidden;
}
#navbar {
	width: 100%;
	overflow: hidden;
	padding: 0.7ex;
	background-color: 545454;
	margin-bottom: 0.5%;
}
.feet {
	width:100%;
	overflow:hidden;
	padding:0.7ex;
	margin-top: -0.5%;
        background-color: 545454;
	text-align: center;
}
#foot {
   	box-shadow: 0 3px 10px black;
	margin-top: 50%;
	width:100%;
	overflow:hidden;	
	padding:0.7ex;
}

