<!DOCTYPE html>
<html lang="">
  <head>
	  {%include analytics.html%}
    <meta charset="utf-8">
    <meta content="{{page.title}}" property="og:title"/>
    <meta content="{{page.subtitle}}" property="og:description"/>
    <meta content="#d000ff" data-react-helmet="true" name="theme-color" />
    <meta content={{page.image}} property="og:image" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={{page.image}}" />
    <meta property="og:type" content="website" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/images/icon.png">
  </head>
  <body class="content">
	  {%include navigation.html%}
	  {{content}}
  </body>
</html>
