<!DOCTYPE html>
<html lang="">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>
                hljs.initHighlightingOnLoad();
        </script>
        {%include analytics.html%}
        <meta charset="utf-8">
        <meta content="{{page.title}}" property="og:title" />
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="{{page.twittercard}}" />
        <meta content="{{page.subtitle}}" property="og:description" />
        <meta content="#d000ff" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:image" content="{{page.image}}" />
        <meta content="{{page.image}}" property="og:image" />
        <title>{{page.title}}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://use.typekit.net/tcf7hto.css"> <!-- liberation sans font --!>
        <link rel="stylesheet" href="/assets/css/qtcreator-dark.css">
        <link rel="icon" href="/assets/images/icon.png">
</head>

<body class="content">
        {%include navigation.html%}
        {{content}}
</body>

</html>
