<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta content="{{page.title}}" property="og:title"/>
    <meta content="{{page.subtitle}}" property="og:description"/>
    <meta content="#d000ff" data-react-helmet="true" name="theme-color" />
    <meta content={{page.image}} property="og:image" />
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="/assets/images/icon.png">
  </head>
  <body class="content">
	  {%include navigation.html%}
	  {{content}}
  </body>
</html>
